.export-tab {
  --export-tab-pr: 80px;
  color: var(--base-anthracite);
  z-index: 1000;
  transition: width 0.2s;
  @apply h-full flex flex-col relative bg-white;

  .collapse-content > ul > li {
    height: 56px;

    h3 {
      padding: 0;
    }
  }
}
