.locality-item {
  border-bottom: 2px solid var(--base-bright-silver);
}

.locality-item-title {
  max-width: 100%;
  padding: 10px 80px 10px 0 !important;
  margin-left: 24px;
  border-bottom: 1px solid var(--base-bright-silver);
  @apply w-full font-medium text-lg;
}

.locality-item-content {
  padding: 10px 80px 10px 24px !important;
  @apply w-full flex items-center font-medium text-base;

  .locality-item-cell {
    width: 120px;
    border-right: 1px solid var(--base-bright-silver);
    @apply flex flex-col font-medium text-base pl-6;

    .locality-item-cell-label {
      color: var(--base-silver);
      font-size: 9px;

      @apply font-medium;
    }

    &:first-of-type {
      @apply pl-0;
    }
  }
}
