table.entity-table {
    border-collapse: collapse;
    font-weight: 300;
    font-size: 14px !important;
    @apply w-full;
}

table.entity-table th {
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    padding-left: 8px;
    border-collapse: collapse;
}

table.entity-table td {
    font-size: 11px;
    padding-left: 8px;
    height: 24px;
    border: 1px solid #e1e4e5;
    border-collapse: collapse;
}

table.entity-table thead tr {
    height: 24px !important;
    padding-left: 8px;
}

table.entity-table tbody tr:nth-child(odd) {
    background-color: #f3f3f4;
}