.color-picker .color-picker-field {
    width: 100px;
    height: 60px;
    border: 1px dashed var(--base-anthracite);
    cursor: pointer;
}

.color-picker .color-picker-popover {
    position: absolute;
    z-index: 10;
}
