.focus label {
    color: var(--primary);
}

.powered-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px;
    padding-bottom: 4px;

    img {
        height: 12px;
        width: auto;
    }
}

.google-autocomplete__control {
    border: 1px solid var(--base-bright-silver) !important;
    border-radius: 8px !important;
    min-height: 48px !important;
    box-shadow: none !important;

    &:hover, &:focus {
        border: 1px solid var(--primary) !important;

    }
}

.google-autocomplete__placeholder, .google-autocomplete__single-value {
    margin-left: 32px !important;
}

.google-autocomplete__input {
    margin-left: 8px !important;
}

.google-autocomplete__value-container {
    color: var(--base-anthracite);
    &:before {
        display: block;
        content: ' ';
        background-image: url('../assets/icons/icons-16-x-16-outline-ic-location.svg');
        background-size: 16px 16px;
        height: 16px;
        width: 16px;
        margin-left: 6px;
    }
}

.google-autocomplete__indicators {
    display: none !important;
}

.google-autocomplete__menu, .google-autocomplete__menu-list, .google-autocomplete__option {
    z-index: 9999;
}
