.search-result-container {
  height: 80vh;
  max-height: 80vh;
  @apply flex relative w-full;
}

.show-map-menu-btn {
  width: 46px !important;
  height: 46px !important;
  top: 33px;
  right: 10px;
  z-index: 9999;
  border: 2px solid white !important;
  background-color: var(--primary) !important;
  @apply btn absolute;
}

.map-nav-bar-container {
  z-index: 999;
  top: 24px;
  margin-left: 10px;
  margin-right: 10px;
  left: 0;
  right: 0;
  width: 100%;
  transition: width 0.2s;
  @apply absolute flex;

  &.map-op {
    width: calc(100% - var(--map-menu-width));
  }
}

@media (max-width: 768px) {
  .map-nav-bar-container {
    width: 100%;
    @apply flex-col gap-4;

    &.map-op {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .search-result-container {
    &.theme-KF {
      @apply block;
    }

    & > div:first-child {
      @apply w-full h-full;
    }
  }
}
