.search-result-container {
  @apply flex relative w-full h-full;
}

.show-map-menu-btn {
  width: 46px !important;
  height: 46px !important;
  top: calc((112px - 46px) / 2);
  right: 8px;
  z-index: 9999;
  background-color: var(--primary) !important;
  @apply btn absolute;

  img {
    width: 2rem;
    height: auto;
  }
}

.map-nav-bar-container {
  z-index: 999;
  top: 24px;
  left: 0;
  right: 0;
  @apply absolute flex;
}

@media (min-width: 768px) {
  .map-nav-bar-container.map-menu-open {
    width: calc(100% - var(--map-menu-width));
  }
}

@media (min-width: 1024px) {
  .search-result-container {
    &.theme-KF {
      @apply block;
    }

    & > div:first-child {
      @apply w-full h-full;
    }
  }
}
