.search-result-container {
    height: 80vh;
    max-height: 80vh;
    @apply flex relative w-full;
}

@media screen(lg) {
    .search-result-container {
        grid-template-columns: 5fr 2fr;
        @apply grid;
    }
    .search-result-container.kf {
        @apply block;
    }
    .search-result-container > div:first-child {
        @apply w-full h-full;
    }
}

.mobile-menu-btn {
    top: 20px;
    right: 10px;
    z-index: 9999;
    @apply btn btn-primary absolute;
}

@media screen(lg) {
    .mobile-menu-btn {
        display: none;
    }
}
