.search-result-container {
  height: 80vh;
  max-height: 80vh;
  @apply flex relative w-full;
}

.map-nav-bar-container {
  z-index: 999;
  top: 24px;
  margin-left: 10px;
  margin-right: 10px;
  @apply absolute flex;
}

.mobile-menu-btn {
  top: 20px;
  right: 10px;
  z-index: 9999;
  background-color: var(--primary) !important;
  @apply btn absolute;
}

@media (min-width: 1024px) {
  .search-result-container {
    grid-template-columns: 5fr 2fr;
    @apply grid;

    &.theme-KF {
      @apply block;
    }

    & > div:first-child {
      @apply w-full h-full;
    }
  }

  .mobile-menu-btn {
    display: none;
  }
}
