.map-menu {
  overflow-y: auto;
  top: calc(var(--menu-item-pl) / 2);
  right: calc(var(--menu-item-pl) / 2);

  &.editor-mode {
    bottom: calc(var(--menu-item-pl) / 2);
  }

  width: 0;
  transition: width 0.2s;
  z-index: 1000;
  --menu-item-pt: 18px;
  --menu-item-pr: 60px;
  --menu-item-pb: 20px;
  --menu-item-pl: 24px;
  --menu-item-h: 56px;
  --menu-footer-h: 63px;
  --menu-image-w-h: 20px;
  --menu-image-w-h-lg: 33px;
  --locality-py: 10px;
  --locality-pr: 60px;
  --locality-pl: 24px;
  @apply absolute;

  &.map-menu-open {
    width: var(--mobile-map-menu-width);
  }

  .tab-bar {
    padding: 0 0 0 0;
    @apply text-lg;

    .tab-container {
      padding: 0 2rem 0 1rem;
      border-radius: 0.5rem 0.5rem 0 0;
      @apply flex gap-2 items-start;
    }

    .tab-item {
      height: 40px;
      border-radius: 0.5rem 0.5rem 0 0;
      border: none;
      background: white;
      color: black;
      @apply flex flex-1 items-center cursor-pointer justify-center gap-2;

      &:hover {
        background: var(--base-bright-silver);
      }

      &.tab-item-active,
      &.tab-item-active:hover {
        color: white;
        background: var(--base-anthracite);

        img {
          filter: invert(100%);
        }
      }
    }

    img {
      width: var(--menu-image-w-h);
      height: var(--menu-image-w-h);
    }
  }

  .map-menu-header {
    height: var(--menu-item-h);
    background: var(--base-anthracite);
    padding: 0 var(--menu-item-pr) 0 13px !important;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;

    @apply flex flex-col justify-center;

    .toggle {
      scale: 0.7;
      min-width: 42px;

      &:checked {
        background: var(--custom-primary);
      }
    }

    .map-menu-header-text {
      @apply text-base;
    }
  }

  .map-menu-content {
    color: var(--base-anthracite);
    overflow-y: scroll;
    z-index: 1000;
    @apply h-full flex flex-col bg-white;
    max-height: calc(100vh - var(--menu-item-h) * 3.4 - var(--menu-footer-h));

    &.embed-mode {
      max-height: calc(100vh - var(--menu-item-h) * 1.1 - var(--menu-item-pl));;
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .collapse-title {
      color: var(--base-anthracite);
      padding: 0 var(--menu-item-pr) 0 var(--menu-item-pl);
      background: white !important;
      @apply flex text-lg font-medium cursor-pointer items-center;

      .collapse-title-container {
        @apply flex gap-3 items-center;

        img {
          width: var(--menu-image-w-h);
          @apply invert-0;
        }

        .collapse-title-text {
          @apply flex flex-col;

          .collapse-title-text-1 {
            @apply font-bold;
          }

          .collapse-title-text-2 {
            @apply text-base text-justify text-gray-500 italic;
          }
        }
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    .view-option {
      overflow: initial;

      .collapse-title {
        height: var(--menu-item-h);
        line-height: 18px;

        &:after {
          top: 22px;
          right: calc(var(--menu-item-pr) / 2);
        }
      }

      &.collapse-open > .collapse-title {
        color: white;

        .collapse-title-container {
          img {
            @apply invert;
          }

          .collapse-title-text {
            .collapse-title-text-2 {
              @apply text-gray-300;
            }
          }
        }

        .checkbox {
          border-color: white;

          &:checked {
            background-image: linear-gradient(
                -45deg,
                transparent 65%,
                #ffffff 0
            ),
            linear-gradient(45deg, transparent 75%, #ffffff 0),
            linear-gradient(-45deg, #ffffff 40%, transparent 0),
            linear-gradient(
                44deg,
                #ffffff 30%,
                var(--primary) 0,
                var(--primary) 40%,
                transparent 0
            ),
            linear-gradient(-45deg, var(--primary) 50%, #ffffff 0);
          }
        }
      }

      &.collapse-closed > .collapse-title .checkbox {
        border-color: var(--custom-primary) !important;

        &:checked {
          background-image: linear-gradient(
              -45deg,
              transparent 65%,
              var(--custom-primary) 0
          ),
          linear-gradient(45deg, transparent 75%, var(--custom-primary) 0),
          linear-gradient(-45deg, var(--custom-primary) 40%, transparent 0),
          linear-gradient(
              44deg,
              var(--custom-primary) 30%,
              #ffffff 0,
              #ffffff 40%,
              transparent 0
          ),
          linear-gradient(-45deg, #ffffff 50%, var(--custom-primary) 0) !important;
        }
      }

      & > .collapse-content {
        background: white !important;
        padding: 0 !important;
        margin: 0 !important;
        max-height: 100% !important;
        overflow-y: hidden;
      }

      &.collapse-closed > .collapse-content {
        max-height: 0 !important;
        height: 0;
      }

      .collapse-open > .collapse-content {
        min-height: 40px;
      }

      .collapse-content {
        ul {
          @apply w-full flex flex-col;

          li {
            padding: 4px var(--menu-item-pr) 4px var(--menu-item-pl);
            border-bottom: 1px solid var(--base-bright-silver);
            @apply w-full flex justify-between items-center;

            & > span {
              color: var(--base-anthracite);
              @apply font-medium text-lg;
            }
          }
        }
      }
    }

    .locality-option-li {
      padding: 0 !important;

      & > .collapse-child-closed .collapse-content {
        max-height: 0;
        height: 0;
      }

      .collapse-child-closed .collapse-title:after {
        transform: rotate(405deg) !important;
      }

      .collapse-child-open {
        .collapse-title:after {
          top: 24px;
        }

        .collapse-content {
          max-height: 9000px;
        }
      }
    }

    .locality-option {
      @apply w-full;

      .collapse-title {
        border-bottom: 1px solid var(--base-bright-silver);
        @apply flex justify-between items-center;

        & > div {
          @apply flex items-center gap-2;
        }

        div.img-container {
          width: var(--menu-image-w-h);
          height: var(--menu-image-w-h);

          &.img-container-lg {
            width: var(--menu-image-w-h-lg);
            height: var(--menu-image-w-h-lg);
          }

          img.item {
            filter: brightness(0) invert(1);
          }

          img.item-custom {
            @apply max-w-full max-h-full;
          }
        }

        .checkbox {
          z-index: 99;
        }
      }

      .collapse-content {
        padding: 0 !important;
        overflow-y: hidden;
      }

      &.collapse-child-open .collapse-content {
        background: white !important;
        padding: 0;
      }
    }

    .checkbox-white {
      border-color: white;

      &:checked {
        background-image: linear-gradient(-45deg, transparent 65%, #ffffff 0),
        linear-gradient(45deg, transparent 75%, #ffffff 0),
        linear-gradient(-45deg, #ffffff 40%, transparent 0),
        linear-gradient(
            44deg,
            #ffffff 30%,
            var(--primary) 0,
            var(--primary) 40%,
            transparent 0
        ),
        linear-gradient(-45deg, var(--primary) 50%, #ffffff 0);
      }
    }

    .checkbox-custom {
      border-color: var(--custom-primary) !important;

      &:checked {
        background-image: linear-gradient(
            -45deg,
            transparent 65%,
            var(--custom-primary) 0
        ),
        linear-gradient(45deg, transparent 75%, var(--custom-primary) 0),
        linear-gradient(-45deg, var(--custom-primary) 40%, transparent 0),
        linear-gradient(
            44deg,
            var(--custom-primary) 30%,
            #ffffff 0,
            #ffffff 40%,
            transparent 0
        ),
        linear-gradient(-45deg, #ffffff 50%, var(--custom-primary) 0) !important;
      }
    }
  }

  .map-menu-footer {
    height: var(--menu-footer-h);
    padding: 6px;
    border-top: 2px solid var(--primary);
    border-radius: 0 0 0.5rem 0.5rem;
    background: white;
    @apply flex flex-col justify-center;

    .button-container {
      @apply flex items-center justify-between;

      .back-button {
        @apply m-0 w-auto;
      }

      .feedback-button {
        all: unset;
        border: 1px solid;
        @apply btn-sm border-primary rounded-full font-bold bg-white text-primary hover:bg-primary hover:text-white cursor-pointer;
      }

      .save-button {
        background: var(--primary-gradient);

        path {
          width: 2rem;
          height: 2rem;
          @apply invert;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .map-menu.map-menu-open {
    width: var(--map-menu-width);
  }
}
