.default-layout {
    @apply flex flex-col w-full;
}

.default-layout-header {
    min-height: var(--content-header-height);
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background-image: var(--primary-gradient);
    @apply flex flex-wrap gap-4 items-center justify-between;
}
.default-layout-header h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    @apply text-white;
}

.default-layout-header .dropdown .dropdown-btn {
    color: white !important;
    text-transform: none !important;
    border-radius: var(--btn-border-radius);
    @apply btn btn-outline hover:bg-primary hover:border-white text-base;
}

.default-layout-header .dropdown-btn-content {
    @apply flex gap-4 h-full justify-center items-center;
}

.default-layout-header .dropdown-btn-content .divider {
    width: 1px;
    border-left: 1px solid white;
    @apply h-full;
}

.default-layout .dropdown-content {
    background: rgba(53, 53, 53, 0.9);
    color: white;
    top: 50px;
}

.default-layout .dropdown-content button {
    justify-content: start;
    @apply w-full text-left;
}

.default-layout .dropdown-content * {
    color: white;
}
.default-layout .dropdown-content img {
    @apply mr-2;
}

.default-layout-content.padding {
    padding: 0 var(--content-padding-x) var(--content-padding-y);
}

.default-layout-content h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    padding: var(--h2-pt) 0 var(--h2-pb) 0;
    border-bottom: 1px solid var(--base-bright-silver);
}

.default-layout-content h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    padding: var(--h3-pt) 0 var(--h3-pb) 0;
    @apply text-primary;
}

.default-layout-content p {
    @apply py-2;
}

.action-bottom {
    border-top: 1px solid var(--base-bright-silver);
    padding: 14px var(--content-padding-x);
    @apply flex;
}
