
.playground {
    filter: invert(57%) sepia(63%) saturate(5029%) hue-rotate(163deg) brightness(97%) contrast(101%);
}
.school {
    filter: invert(43%) sepia(9%) saturate(3807%) hue-rotate(221deg) brightness(95%) contrast(84%);
}
.bar {}
.restaurant {
    filter: invert(58%) sepia(50%) saturate(2173%) hue-rotate(286deg) brightness(89%) contrast(88%);
}
.park {
    filter: invert(54%) sepia(79%) saturate(2085%) hue-rotate(131deg) brightness(100%) contrast(101%);
}
.chemist {
    filter: invert(81%) sepia(44%) saturate(2791%) hue-rotate(312deg) brightness(102%) contrast(100%);
}
.supermarket {
    filter: invert(83%) sepia(88%) saturate(5532%) hue-rotate(311deg) brightness(101%) contrast(103%);
}
.doctors {
    filter: invert(34%) sepia(74%) saturate(894%) hue-rotate(330deg) brightness(91%) contrast(91%);
}
.dentist {
    filter: invert(47%) sepia(39%) saturate(958%) hue-rotate(220deg) brightness(82%) contrast(82%);
}
.clinic {
    filter: invert(34%) sepia(74%) saturate(894%) hue-rotate(330deg) brightness(91%) contrast(91%);
}
.kiosk {
    filter: invert(84%) sepia(33%) saturate(598%) hue-rotate(11deg) brightness(106%) contrast(103%);
}
.office {
    filter: invert(84%) sepia(33%) saturate(598%) hue-rotate(11deg) brightness(106%) contrast(103%);
}
.fuel {
    filter: invert(36%) sepia(99%) saturate(767%) hue-rotate(21deg) brightness(93%) contrast(101%);
}
.station {
    filter: invert(82%) sepia(66%) saturate(812%) hue-rotate(18deg) brightness(111%) contrast(108%);
}
.bus_stop {
    filter: invert(86%) sepia(49%) saturate(1118%) hue-rotate(10deg) brightness(108%) contrast(104%);
}
.motorway_link {
    filter: invert(30%) sepia(64%) saturate(1132%) hue-rotate(152deg) brightness(94%) contrast(108%);
}
