.leaflet-container {
  height: 100%;
}

.leaflet-control-zoom {
  margin-bottom: 18px !important;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.cluster-icon {
  height: auto !important;
  padding: 6px;
  aspect-ratio: 1 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.cluster-icon-counter {
  background-color: var(--primary);
  color: white;
  height: 14px;
  padding: 0px 4px;
  justify-content: center;
  display: flex;
  line-height: 14px;
  border-radius: 14px;
  margin-top: -50%;
  margin-left: -6px;
  font-size: x-small;
}

.bright-primary-color {
  .cluster-icon-counter {
    color: black;
  }
}

.cluster-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -50% !important;
  margin-left: -50% !important;
  width: 150px !important;
}

.cluster-icon-wrapper .locality-marker-wrapper {
  background: none !important;
}

.leaflet-popup-content {
  min-width: 250px;
}

.locality-marker-wrapper {
  display: flex !important;
  border-radius: 100%;
  padding: 2px;
  @apply justify-center items-center;
}

.leaflet-container.no-group {
  .locality-marker-wrapper {
    padding: 1px;
  }

  &.small-markers {
    .locality-marker-wrapper {
      padding: 1px;
    }
  }
}

.locality-marker {
  display: flex;
  padding: 4px;
  border-radius: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  @apply justify-center items-center h-full w-full;
}

.dot-marker {
  width: 4px;
  height: 4px;
  padding: 0px;
  border: none;
  border-radius: 100%;
  display: none;
}

.dot-marker-shown img {
  display: none;
}

.dot-marker-shown div:first-child {
  display: none;
}

.dot-marker-shown div:last-child {
  display: block;
}

.dot-marker-shown:hover img {
  display: block;
}

.dot-marker-shown:hover div:first-child {
  display: block;
}

.dot-marker-shown:hover div:last-child {
  display: none;
}

.dark-primary-color {
  .real-estate-cta {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
  }
}

.bright-primary-color {
  .real-estate-cta {
    color: black !important;
    border-color: black !important;
  }
}

.real-estate-cta {
  @apply btn bg-white hover:bg-white;
}

.fullscreen nav,
.fullscreen .default-layout-header,
.fullscreen .action-bottom,
.fullscreen #footer {
  display: none;
}

.fullscreen .default-layout,
.fullscreen .default-layout-content,
.fullscreen .search-result-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.leaflet-left {
  bottom: 20px !important;
}

@media (min-width: 1024px) {
  .leaflet-container-KF {
    .leaflet-left {
      left: 10px;
    }
  }
}
