.map-menu-collapsable > .collapse-closed .collapse-content {
    max-height: 0;
    height: 0;
    display: none;
}
.map-menu-collapsable .collapse-closed .collapse-title:after {
    top: 15px;
    transform: rotate(405deg) !important;
}
.map-menu-collapsable .collapse-open .collapse-title:after {
    top: 15px;
}
.map-menu-collapsable .collapse-open .collapse-content {
    max-height: 9000px;
    background-color: white;
}
.map-menu-collapsable {
    margin: 0;
    @apply w-full;
}
.map-menu-collapsable .collapse-title {
    border-bottom: 1px solid var(--base-bright-silver);
    font-size: 16px;
    border: 0 !important;
    height: 40px !important;
    min-height: 100% !important;
    @apply flex justify-between items-center;
}
.map-menu-collapsable .collapse-title > div {
    @apply flex items-center;
}

.map-menu-collapsable .collapse-title div.img-container img {
    filter: brightness(0) invert(1);
}

