.map-nav-bar-container {
    z-index: 999;
    left: 0;
    right: 80px;
    top: 16px;
    @apply absolute flex;
}

@media screen(lg) {
    .map-nav-bar-container {
        right: 0;
    }
}

.map-nav-bar {
    z-index: 999;
    padding: 10px;
    border-radius: 28px;
    @apply mx-auto bg-white flex flex-wrap justify-between;
}

.map-nav-bar .btn-link {
    height: 32px !important;
    min-height: 32px !important;
    padding: 6px 12px;
    border-radius: 16px !important;
    color: var(--base-anthracite);
    @apply font-medium text-base border-none;
}

.map-nav-bar .btn-link.active {
    background: var(--base-bright-silver);
}

.map-nav-bar .btn-link span {
    height: 16px;
    width: 16px;
    @apply mask mask-circle mr-2;
}

.map-nav-bar .checkboxes {
    @apply flex gap-4 items-center pl-3;
}

@media screen(lg) {
    .map-nav-bar .checkboxes {
        @apply pl-20;
    }
}

.map-nav-bar .checkboxes label {
    @apply cursor-pointer label justify-start pl-0;
}

.map-nav-bar .checkboxes label input {
    @apply checkbox checkbox-primary checkbox-sm;
}

.map-nav-bar .checkboxes label span {
    @apply label-text ml-2 font-normal text-base;
}
