.nav {
  height: var(--nav-height);
  @apply relative flex items-center;

  .nav-logo {
    padding: var(--nav-padding-y) var(--nav-padding-x);
    @apply h-full flex items-center;
  }

  .nav-links {
    @apply flex h-full w-full;

    .nav-link {
      padding: 0 var(--nav-padding-x);
      justify-content: space-around;
      line-height: normal;
      color: var(--base-anthracite);
      @apply h-full font-medium flex items-center text-center;

      &.active {
        color: var(--primary);
        border-bottom: 4px solid var(--primary);
      }
    }
  }

  .nav-button {
    left: 20px;
    @apply absolute inset-y-0 flex items-center lg:hidden;
  }

  .nav-usermenu-button {
    @apply w-12 h-12 shadow rounded-full align-middle justify-center overflow-hidden;
  }

  .nav-mobile-menu .nav-mobile-menu-link {
    @apply block px-3 py-2 rounded-md text-base font-medium;

    &.active {
      color: var(--primary);
    }
  }
}

@media (min-width: 768px) {
  .nav .nav-logo,
  .nav .nav-links .nav-link {
    border-right: 1px solid var(--base-bright-silver);
  }
}
