.locality-item {
  border-bottom: 2px solid var(--base-bright-silver);

  .locality-item-title {
    padding-top: var(--locality-py) !important;
    padding-right: var(--locality-pr) !important;
    padding-bottom: var(--locality-py) !important;
    margin-left: var(--locality-pl);
    border-bottom: 1px solid var(--base-bright-silver);
    @apply w-full max-w-full font-medium text-lg pl-2;
  }

  .locality-item-content {
    padding: var(--locality-py) var(--locality-pr) var(--locality-py)
      var(--locality-pl) !important;
    grid-template-columns: repeat(4, 1fr);
    @apply grid w-full items-center font-medium text-base;

    label {
      @apply flex items-center gap-2 pl-2 cursor-pointer;
    }

    .locality-item-cell {
      border-right: 1px solid var(--base-bright-silver);
      @apply flex flex-col font-medium text-base pl-2;

      .locality-item-cell-label {
        color: var(--base-silver);
        font-size: 9px;
        @apply font-medium;
      }
    }
  }
}
