

.map-nav-bar-container {
    z-index: 999;
    left: 10px;
    right: 80px;
    top: 24px;
    @apply absolute flex;
}


.map-nav-bar {
    z-index: 999;
    @apply md:mx-auto flex flex-wrap justify-between;

    .btn-link {
        height: 32px !important;
        min-height: 32px !important;
        padding: 6px 12px;
        border-radius: 16px !important;
        color: var(--base-anthracite);
        font-size: 12px !important;
        @apply font-medium bg-white border-none;

        &.active {
            border: 2px solid var(--primary);
        }

        &:hover {
            background: white;
        }

        span {
            height: 16px;
            width: 16px;
            @apply mask mask-circle mr-2;
        }
    }

    img {
        width: 18px !important;
        height: auto;
        margin-right: 6px;
    }

    .checkboxes {
        @apply flex gap-4 items-center pl-3;
        label {
            @apply cursor-pointer label justify-start pl-0;
            input {
                @apply checkbox checkbox-primary checkbox-sm;
            }
            span {
                @apply label-text ml-2 font-normal text-base;
            }
        }
    }

}

@media (min-width: 768px) {
    .map-nav-bar .btn-link {
        font-size: 1rem !important;
    }
}

@media (min-width: 1024px) {
    .map-nav-bar-container {
        right: 0;
        left: 0;
    }
    .map-nav-bar .checkboxes {
        @apply pl-20;
    }
}

