.editor-tab {
  --editor-tab-pr: 80px;
  color: var(--base-anthracite);
  transition: width 0.2s;
  @apply h-full flex flex-col relative bg-white;

  .entity-groups li,
  .preselected-groups li {
    padding-right: 10px !important;
  }

  .group-items {
    padding: 0 !important;

    ul > li {
      display: flex;
      flex-direction: column;
      border-bottom: none !important;
      padding: 5px 0 15px 10px !important;

      .item-title {
        padding: 0 0 5px 0;
        @apply flex flex-row w-full items-center gap-2;

        span {
          overflow-x: hidden;
          text-overflow: ellipsis;
          @apply text-base;
        }
      }

      .locality-item-content {
        padding: 0 !important;

        .locality-item-cell {
          width: 120px;
          padding: 0 0 0 10px !important;
        }
      }
    }
  }

  .preselected-groups li {
    display: flex;
    justify-content: flex-start !important;
  }

  .collapse .collapse-content ul.editor-configuration-list li {
    padding-right: var(--menu-item-pl);
  }
}

@media (max-width: 1024px) {
  .locality-item-cell {
    width: 95px !important;
  }
}
