.payment-methods.modal.modal-open {
  align-items: center;
  padding: 0 10px 0 10px;
  backdrop-filter: blur(1px);

  .modal-box {
    padding: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    .modal-header {
      padding: 0 20px 0 20px;
      height: 3em;
      color: white;
      background: var(--primary);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      justify-content: space-between;
      @apply text-lg font-medium items-center flex;

      img {
        filter: brightness(0) invert(1);
        opacity: 0.9;
        @apply cursor-pointer;
      }
    }

    .modal-content {
      padding: 10px 20px 10px 20px;
      @apply flex flex-col sm:flex-row;

      div {
        flex: 1;

        &.paypal-method {
          @media (min-width: 640px) {
            margin-right: 1rem;
          }
        }

        &.other-payment-methods {
          @media (min-width: 640px) {
            margin-top: 2rem;
            margin-left: 1rem;
            max-height: 3rem;
          }

          padding: 0.25rem;
          min-height: 3rem;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          background: var(--primary);
          border-radius: 0.5rem;
          @apply flex cursor-pointer;
        }
      }
    }
  }
}
