.editor-container {
  max-height: calc(100vh - 2 * var(--nav-height) - 2px) !important;
  @apply flex relative w-full;

  .search-result-container {
    height: calc(100vh - 2 * var(--nav-height) - 2px);
    max-height: calc(100vh - 2 * var(--nav-height) - 2px);
  }
}
