input:checked ~ .dot {
    transform: translateX(100%);
}

input.checkbox:checked ~ .dot {
    transform: translateX(100%);
    background: var(--color-kudiba-red);
}

.collapse-title, .collapse-content {
    background-color: white !important;
}

.collapse-locality-item {
    display: flex;
    align-items: center;
    gap: 2px;
}
