.data-tab {
  @apply h-full flex flex-col relative bg-white;

  .collapse-content > ul > li {
    height: 60px;

    h3 {
      color: var(--base-anthracite);
      padding: 0 calc(var(--menu-image-w-h) / 2) 0 calc(var(--menu-image-w-h) / 2);
      @apply text-base flex gap-2;
    }
  }
}
