@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'archia';
    src: url('assets/fonts/archia-light-webfont.eot');
    src: url('assets/fonts/archia-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/archia-light-webfont.woff2') format('woff2'),
    url('assets/fonts/archia-light-webfont.woff') format('woff'),
    url('assets/fonts/archia-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'archia';
    src: url('assets/fonts/archia-regular-webfont.eot');
    src: url('assets/fonts/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/archia-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/archia-regular-webfont.woff') format('woff'),
    url('assets/fonts/archia-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'archia';
    src: url('assets/fonts/archia-semibold-webfont.eot');
    src: url('assets/fonts/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/archia-semibold-webfont.woff2') format('woff2'),
    url('assets/fonts/archia-semibold-webfont.woff') format('woff'),
    url('assets/fonts/archia-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html {
    --color-black: black;
    --color-white: white;
    --color-anthrazite: #3d3641;
    --color-kudiba-red: #cd1f45;
    --color-kudiba-red-muted: #aa2158;
}
