.search-result-container {
  @apply flex relative w-full h-full;
}

.show-menu-btn {
  width: 46px !important;
  height: 46px !important;
  top: 73px;
  z-index: 2499;
  background-color: var(--primary) !important;
  @apply btn absolute;

  img {
    width: 2rem;
    height: auto;
  }

  &.embed-mode {
    top: 17px;
  }

  &.map-menu-btn {
    right: 18px;
  }

  &.filter-menu-btn {
    left: 8px;
  }
}

.map-nav-bar-container {
  top: 24px;
  right: 10px;
  left: 10px;
  z-index: 999;
  @apply absolute flex;
}

@media (min-width: 768px) {
  .map-nav-bar-container.map-menu-open {
    width: calc(100% - var(--map-menu-width));
  }
}

@media (min-width: 1024px) {
  .search-result-container {
    &.theme-KF {
      @apply block;
    }

    & > div:first-child {
      @apply w-full h-full;
    }
  }
}
