.timeline {
  padding-top: 5px;
  flex-grow: 1;
  @apply flex cursor-default;

  .timeline-step {
    flex-grow: 1;
    flex-basis: 0;
    @apply flex flex-col;

    .timeline-step-line-number {
      padding-bottom: 5px;
      @apply flex items-center;

      .timeline-step-number {
        flex-grow: 1;
        @apply flex;

        &:before,
        &:after {
          content: "";
          flex-grow: 1;
          border-bottom: solid 5px white;
          margin: auto;
        }

        span {
          width: 1.5em;
          height: 1.5em;
          border-radius: 1.5em;
          color: var(--primary);
          background-color: lightgray;
          font-size: var(--h3-size);
          font-weight: var(--h3-weight);
          opacity: 0.8;
          @apply text-center;
        }
      }

      .timeline-step-arrow {
        border-top: 0.5em solid transparent;
        border-bottom: 0.5em solid transparent;
        border-left: 0.75em solid white;
      }
    }

    .timeline-step-name {
      @apply text-center;

      span {
        font-size: 14px;
        color: lightgray;
      }
    }

    &.timeline-step-active {
      .timeline-step-line-number {
        .timeline-step-number {
          span {
            opacity: 1;
            background-color: white;
            font-weight: 900;
          }
        }
      }

      .timeline-step-name {
        span {
          color: white;
          font-size: var(--h3-size);
          font-weight: bold;
        }
      }
    }
  }
}
