.timeline {
  flex-grow: 1;
  align-items: center;
  @apply flex cursor-default w-full sm:w-auto;

  .timeline-step {
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    @apply flex;

    .timeline-step-line {
      flex-grow: 1;
      border-bottom: 0.5rem solid white;
    }

    .timeline-step-title {
      padding: 0.5rem;
      color: var(--primary);
      background-color: lightgray;
      border-radius: var(--btn-border-radius);
      opacity: 0.8;
      @apply text-center;
    }

    .timeline-step-arrow {
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 0.7rem solid white;

      @media (min-width: 640px) {
        border-top: 0.7rem solid transparent;
        border-bottom: 0.7rem solid transparent;
        border-left: 1.2rem solid white;
      }
    }

    &.timeline-step-active {
      .timeline-step-title {
        font-size: 18px;
        font-weight: 700;
        background-color: white;
        opacity: 1;
      }
    }
  }
}
