.mean-of-transportation {
    @apply flex flex-col gap-4;
}

.mean-of-transportation .mean-label {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    padding: 0;
}

.mean-of-transportation .distance-unit .input-with-icon {
    flex: 2;
}

.mean-of-transportation .distance-unit select {
    flex: 1;
}
