@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'archia';
  src: url('assets/fonts/archia-light-webfont.eot');
  src: url('assets/fonts/archia-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/archia-light-webfont.woff2') format('woff2'),
  url('assets/fonts/archia-light-webfont.woff') format('woff'),
  url('assets/fonts/archia-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'archia';
  src: url('assets/fonts/archia-regular-webfont.eot');
  src: url('assets/fonts/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/archia-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/archia-regular-webfont.woff') format('woff'),
  url('assets/fonts/archia-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'archia';
  src: url('assets/fonts/archia-semibold-webfont.eot');
  src: url('assets/fonts/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/archia-semibold-webfont.woff2') format('woff2'),
  url('assets/fonts/archia-semibold-webfont.woff') format('woff'),
  url('assets/fonts/archia-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 14px;

  --primary: #c91444;
  --secondary: #640d24;
  --category-01: #8f72eb;
  --base-silver: #bec7ca;
  --base-bright-silver: #e1e4e5;
  --base-deep-black: #0e0e0e;
  --base-anthracite: #201c1e;
  --signal-yellow: #e4bc40;
  --signal-error: #cb513b;

  --nav-height: 80px;
  --nav-padding-y: 20px;
  --nav-padding-x: 52px;

  --content-header-height: var(--nav-height);
  --content-padding-x: var(--nav-padding-x);
  --content-padding-y: var(--nav-padding-y);
  --subcontent-padding-y: 32px;
}

.sub-content {
  padding: var(--subcontent-padding-y) 0;
}

.form-control label {
  @apply relative;
}

.form-control label span {
  color: var(--base-silver);
  left: 4px;
  top: 7px;
  z-index: 90;
  padding: 0 8px;
  @apply text-sm absolute bg-white;
}

.form-control .input {
  min-height: 48px;
  color: var(--base-anthracite);
}

.form-control .input-bordered:focus {
  outline: none !important;
  border: 1px solid var(--primary);
  box-shadow: none !important;
}

.form-control .input-bordered {
  border: 1px solid var(--base-bright-silver);
}
