.editor-map-menu {
  --editor-map-menu-pr: 80px;
  color: var(--base-anthracite);
  overflow-y: scroll;
  z-index: 1000;
  height: auto !important;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 350px;
  transition: width 0.2s;
  border-left: 3px solid black;
  @apply h-full flex flex-col relative bg-white;

  div.heading {
    height: 90px;
    background: var(--base-anthracite);
    padding: 14px var(--editor-map-menu-pr) 14px 24px !important;
    border-bottom: none;
    @apply flex flex-col;

    span.heading {
      @apply font-medium text-2xl text-white;
    }

    .btn-link {
      padding: 0 !important;
      height: auto !important;
      @apply w-auto justify-start text-white flex flex-nowrap;
    }
  }

  .collapse-title {
    color: var(--base-anthracite);
    padding: 18px var(--editor-map-menu-pr) 20px 24px;
    background: white !important;
    @apply text-lg font-medium cursor-pointer;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  .view-option {
    overflow: initial;

    .collapse-title {
      height: 56px;
      line-height: 18px;

      &:after {
        top: 22px;
        right: 50px;
      }
    }

    &.collapse-open > .collapse-title {
      color: white;
      background: var(--primary-gradient) !important;
    }

    & > .collapse-content {
      background: white !important;
      padding: 0 !important;
      margin: 0 !important;
      max-height: 100% !important;
      overflow-y: hidden;
    }

    .collapse-content > ul > li {
      padding: 4px 80px 4px 24px;
      border-bottom: 1px solid var(--base-bright-silver);
      @apply w-full flex justify-between items-center;

      & > span {
        color: var(--base-anthracite);
        @apply font-medium text-lg;
      }
    }
  }

  .collapse-closed {
    & > .collapse-content {
      max-height: 0 !important;
      height: 0;
    }

    .collapse-title:after {
      transform: rotate(405deg) !important;
    }
  }

  .collapse-open > .collapse-content {
    min-height: 40px;
  }

  .collapse-content ul {
    @apply w-full flex flex-col;
  }

  .locality-option-li {
    padding: 0 !important;

    & > .collapse-child-closed .collapse-content {
      max-height: 0;
      height: 0;
    }

    .collapse-child-open {
      .collapse-title:after {
        top: 24px;
      }

      .collapse-content {
        max-height: 9000px;
      }
    }
  }

  .locality-option {
    @apply w-full;

    .collapse-title {
      border-bottom: 1px solid var(--base-bright-silver);
      @apply flex justify-between items-center;
      & > div {
        @apply flex items-center;
      }

      div.img-container {
        width: 36px;
        height: 36px;
        @apply flex justify-center items-center mr-3 mask mask-circle;
        img {
          filter: brightness(0) invert(1);
        }
      }

      .checkbox {
        z-index: 99;
      }
    }

    .collapse-content {
      padding: 0 !important;
      overflow-y: hidden;
    }

    &.collapse-child-open .collapse-content {
      background: white !important;
      padding: 0;
    }

    .mean-items {
      border-bottom: 2px solid var(--base-bright-silver);
      padding: 10px 80px 10px 24px !important;
      @apply flex;
      .item {
        width: 120px;
        border-right: 1px solid var(--base-bright-silver);
        @apply flex items-center gap-2 text-tiny font-medium pl-6;
        &:first-of-type {
          @apply pl-0;
        }

        img {
          height: 20px;
          width: 20px;
          @apply pr-1;
        }
      }
    }

    .locality-item {
      border-bottom: 2px solid var(--base-bright-silver);

      .locality-item-title {
        max-width: 100%;
        padding: 10px 80px 10px 0 !important;
        margin-left: 24px;
        border-bottom: 1px solid var(--base-bright-silver);
        @apply w-full font-medium text-lg;
      }

      .locality-item-content {
        padding: 10px 80px 10px 24px !important;
        @apply w-full flex items-center font-medium text-base;

        .locality-item-cell {
          width: 120px;
          border-right: 1px solid var(--base-bright-silver);
          @apply flex flex-col font-medium text-base pl-6;
          &:first-of-type {
            @apply pl-0;
          }

          .locality-item-cell-label {
            color: var(--base-silver);
            font-size: 9px;

            @apply font-medium;
          }
        }
      }
    }
  }

  .entity-groups li, .preselected-groups li {
    padding-right: 10px !important;
  }

  .group-items li {
    @apply flex flex-col py-2;

    .item-title {
      @apply flex flex-row justify-items-center items-center;

      span {
        max-width: 300px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        @apply pl-2 text-base;
      }
    }
  }

  .preselected-groups {
    li {
      display: flex;
      justify-content: flex-start !important;
    }
  }
}

.checkbox-white {
  border-color: white;

  &:checked {
    background-image: linear-gradient(-45deg, transparent 65%, #ffffff 0),
    linear-gradient(45deg, transparent 75%, #ffffff 0),
    linear-gradient(-45deg, #ffffff 40%, transparent 0),
    linear-gradient(
                    44deg,
                    #ffffff 30%,
                    var(--primary) 0,
                    var(--primary) 40%,
                    transparent 0
    ),
    linear-gradient(-45deg, var(--primary) 50%, #ffffff 0);
  }
}
