.map-menu {
    @apply flex flex-col;
    --map-menu-pr: 80px;
}

.map-menu h2.heading {
    height: 80px;
    background: var(--base-anthracite);
    padding: 34px var(--map-menu-pr) 30px 24px !important;
    line-height: 1rem;
    @apply font-medium text-2xl text-white;
}

.map-menu .view-option .collapse-title {
    color: var(--base-anthracite);
    padding: 18px var(--map-menu-pr) 24px 24px;
    background: white !important;
    @apply text-xl font-medium;
}
.map-menu .view-option.collapse-open .collapse-title {
    color:white;
    background: var(--primary-gradient) !important;
}
.map-menu .view-option .collapse-title:after {
    top: 25px;
    right: 50px;
}
.map-menu .view-option .collapse-content {
    background: white !important;
    padding: 0 !important;
    margin: 0 !important;
}

.map-menu .collapse-content ul {
    @apply w-full flex flex-col;
}
.map-menu .collapse-content ul li {
    min-width: 300px;
    padding: 4px 80px 4px 24px;
    border-bottom: 1px solid var(--base-bright-silver);
    @apply w-full flex justify-between items-center;
}
.map-menu .collapse-content ul li span {
    color: var(--base-anthracite);
    @apply font-medium text-lg;
}
